<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="sub-header">
        <nav>
          <h1 class="logo">Next<span>Way</span></h1>
              
                  <ul>
                      <li><a href="/">HOME</a></li>
                      <li><a href="/about">ABOUT</a></li>
                      <li><a href="/blog">SERVICE</a></li>
                      <li><a href="/contact">CONTACT</a></li>
                  </ul>
                  <button><a href="/signup">Register</a></button>
        </nav>

        <section class="blog-content">

            <div class="row">
                <div class="blog">
                    <h2>Welcome to the NEXTWAY Career Exploration Blog: Your Path to Future Success!</h2>
                        <h3>Who We Are:</h3>
                            <p>Welcome to the NEXTWAY blog, your go-to destination for students navigating the exciting journey of choosing a career path after school. We're here to guide you through 
                                the process and help you discover your passions and interests.</p>
                        <br>
                        <h3>What You'll Find Here:</h3>
                            <p>Our blog is filled with easy-to-understand advice, practical tips, 
                                and inspiring stories to help you explore various career options and make informed decisions about your future. Whether you're interested in science, art, technology, or something else entirely, we've got resources to help you find your way.</p>
                        <br>
                        <h3>Why You Should Follow Us:</h3>
                            <p>Stay updated on the latest career trends, educational opportunities, and real-world insights shared by our team and guest contributors. Our blog provides valuable information and encouragement to help you navigate 
                                the exciting world of career exploration with confidence.</p>
                        <br>
                        <h3>How to Connect:</h3>
                            <p>Join our community of ambitious students like yourself! Subscribe to our blog and follow us on social media to connect with peers, share experiences, and
                                gain valuable advice from professionals in different fields.</p>
                        <br>
                        <h3>Let's Begin Your Journey:</h3>    
                            <p>Ready to embark on your journey toward a fulfilling career? Dive into our blog, bookmark your favorite posts, and start exploring the endless possibilities that lie ahead with NEXTWAY. Together, let's pave the way for your future success!</p>
                        <br>
                        <p class="blog" style="text-align: center;">Welcome aboard, and happy exploring!</p>
                                
                </div>
            </div>
        </section>

        <div class="copys">
            <p>Copyright &copy; 2024 Design By <span class="deve">NextWay</span></p>
          </div>

    </section>     
</body>
</html>