<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT BOT</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="sub-header">
          <nav>
            <h1 class="logo">Next<span>Way</span></h1>
                
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/blog">SERVICE</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                    <button><a href="/signup">Register</a></button>
          </nav>
      </section> 
</body>
</html>