<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="shortcut icon" type="x-icon" href="logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <section class="sub-header">
        <nav>
          <h1 class="logo">Next<span>Way</span></h1>
              
                  <ul>
                      <li><a href="/">HOME</a></li>
                      <li><a href="/about">ABOUT</a></li>
                      <li><a href="/blog">SERVICE</a></li>
                      <li><a href="/contact">CONTACT</a></li>
                  </ul>
                  <button><a href="/signup">Register</a></button>
        </nav>
          <h1>Contact Us</h1>
    </section>  
    
    <!----contact us---->

<section class="location">
    <iframe src="https://www.google.com/maps/d/embed?mid=1B1lAsUpYFg82Je7XN1_cxRPf1UU&ehbc=2E312F" width="640" height="480"></iframe>


</section>


<footer id="footer" style="margin-top: 50px;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Usefull Links</h4>
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/blog">Services</a></li>
                      <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>CONTACT</h4>
                    <ul>
                        <li><div class="hello">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon
        src="https://cdn.lordicon.com/iikoxwld.json"
        trigger="hover"
        style="width:100px;height:100px">
    </lord-icon>
                            </lord-icon>
                            <span>
                                <h5 style="margin-left:28%;">+91 8056220644</h5>
                                <p>Monday to Saturday, 10AM to 6PM</p>
                            </span>
                        </div></li>
                        <li><div class="hello">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/tmqaflqo.json"
                                trigger="hover"
                                style="width:100px; height:100px">
                            </lord-icon>
                            <span>
                                <h5 style="margin-left:30%;">Nextway@gmail.com</h5>
                                <p style="margin-left: 10%;">Email us your query</p>
                            </span>
                        </div></li>
                        <li> <div class="hello">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/rymzvwiu.json"
                                    trigger="hover"
                                    colors="primary:#121331,secondary:#66d7ee,tertiary:#ebe6ef,quaternary:#ffc738,quinary:#4bb3fd,senary:#f24c00,septenary:#08a88a,octonary:#f28ba8,nonary:#92140c"
                                    style="width:100px;height:100px">
                                </lord-icon>
                                                <span>
                                <h5 style="margin-left: 60%;">Nextway</h5>
                                <p >Tell me your comments</p>
                            </span>
                        </div></li>
                        <li><div class="hello">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/iikoxwld.json"
                                trigger="hover"
                                style="width:100px;height:100px">
                            </lord-icon>
                            <span>
                                <h5 style="margin-left: 30%;">XYZ Road, ABC Building</h5>
                                <p style="margin-left:20%;">Bangalore, Karnataka, IN</p>
                            </span>
                        </div></li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Network</h4>
                    <p></p>
                    <div class="socail-links mt-3">
                        <a href="#" class="twiiter"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-google-plus"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="twiiter"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>



<div class="copy" style="margin-top: 1px;">
    <p>Copyright &copy; 2024 Design By <span class="deve">NextWay</span></p>
  </div>
</body>
</html>